<mat-drawer-container>
  <mat-drawer-content>
    <h1>Github search</h1>

    <!-- Search -->
    <mat-form-field appearance="fill" class="search-input">
      <mat-icon matPrefix>search</mat-icon>
      <mat-label>Search</mat-label>
      <input
        matInput
        type="text"
        [ngModel]="search$ | async"
        (ngModelChange)="setSearch($event)"
      />
      <button
        *ngIf="search$ | async"
        matSuffix
        mat-icon-button
        (click)="setSearch('')"
      >
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>

    <!-- Sort -->
    <div
      *ngIf="sort$ | async as sort"
      matSort
      class="search-sort-container"
      [matSortActive]="sort.sort ?? ''"
      [matSortDirection]="sort.order ?? ''"
      (matSortChange)="setSort($event)"
    >
      <mat-icon class="search-sort-item">sort</mat-icon>
      <div class="search-sort-item" mat-sort-header="stars">Stars</div>
      <div class="search-sort-item" mat-sort-header="forks">Forks</div>
      <div class="search-sort-item" mat-sort-header="help-wanted-issues">
        Help wanted issues
      </div>
      <div class="search-sort-item" mat-sort-header="updated">Updated</div>
    </div>

    <!-- Chips -->
    <mat-chip-list class="sort-chips">
      <mat-chip
        *ngFor="let chip of chips$ | async"
        (removed)="removeChip(chip)"
      >
        {{ chip.label }}
        <button matChipRemove><mat-icon>cancel</mat-icon></button>
      </mat-chip>
    </mat-chip-list>

    <!-- Response -->
    <app-response (search)="setSearch($event)"></app-response>

    <!-- Pagination -->
    <ng-container>
      <mat-paginator
        *ngIf="page$ | async as page"
        [length]="count$ | async"
        [pageSize]="page.per_page"
        [pageIndex]="page.page - 1"
        [pageSizeOptions]="[5, 10, 25, 100]"
        (page)="setPage($event)"
      >
      </mat-paginator>
    </ng-container>
  </mat-drawer-content>
</mat-drawer-container>
